body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

#img-div {
    display: flex;
    flex-direction: row;
}

#sprite,  #sprite2{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#types div {
    padding: 5px 10px;
    background-color: #ffcc00;
    border-radius: 5px;
}
